{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">Dashboard
    <div class="sub header">Last updated at 16:40, today</div>
</h1>
<div class="ui four stackable cards">
    {% include "dashboard/widget.html" with title="My Bricks" value_size="small" icon="inbox" value=dashboard.item_count extra=dashboard.target_at %}
    {% include "dashboard/widget.html" with title="Total Quantity" value_size="small" icon="archive" value=dashboard.item_quantity extra=dashboard.target_at %}
    {% include "dashboard/widget.html" with title="Bookmarks" value_size="small" icon="inbox" value=request.user.bookmark_set.count extra=dashboard.target_at %}
    {% include "dashboard/widget.html" with title="Total Official" value_size="tiny" value=dashboard.total_official_price|floatformat:2|intcomma icon="dollar" extra=dashboard.target_at %}
</div>
<div class="ui three stackable cards">
    {% include "dashboard/widget.html" with title="Total Value" value_size="small" value=dashboard.total_estimated_price icon="dollar" extra=dashboard.target_at %}
    {% include "dashboard/widget.html" with title="Total Profit"  value_size="small" value=dashboard.total_profit icon="dollar" extra=dashboard.target_at %}
    {% include "dashboard/widget.html" with title="Total Buying" value_size="small" value=dashboard.total_buying_price|floatformat:2|intcomma icon="dollar" extra=dashboard.target_at %}
</div>
{% endblock %}