<div class="ui card">
    <div class="content">
        <div class="description center aligned">
            <h3 class="ui header">{{ title }}</h3>
            <div class="ui {{ value_size }} statistic">
                <div class="value">
                    {% if icon %}
                    <i class="{{ icon }} icon"></i>
                    {% endif %}
                     {{ value }}
                </div>
                <div class="label">{{ label }}</div>
            </div>
        </div>
    </div>
        {% if not hide_extra %}
        <div class="extra content">
            <div class="left floated">
                <a class="ui icon button mini" href="{{ history_link }}"><i class="line chart icon grey"></i></a>
            </div>
            <div class="right floated">
                <a class="ui icon button mini" href="{{ theme_link }}"><i class="pie chart icon grey"></i></a>
            </div>
        </div>
        {% endif %}
</div>