<div class="ui card">
    <div class="content">
        <div class="description center aligned">
            <h3 class="ui header">{{ title }}</h3>
            <div class="ui {{ value_size }} statistic">
                <div class="value">
                    {% if icon %}
                    <i class="{{ icon }} icon"></i>
                    {% endif %}
                     {{ value }}
                </div>
                <div class="label">{{ label }}</div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <div class="left floated">
            <a class="ui button mini" href="#"><i class="line chart icon grey"></i>History</a>
        </div>
        <div class="right floated">
            <a class="ui button mini" href="{% url 'bookmarks:list' %}"><i class="pie chart icon grey"></i>Theme</a>
        </div>
    </div>
</div>