{% load humanize %}
{% load price_tags %}

<div class="ui card">
    <div class="image">
        <img src="{{ brickset.official_image_url }}">
    </div>
    <div class="content">
        <table class="ui definition table">
            <tbody>
            {% if brickset.official_price %}
            <tr>
                <td>Official</td>
                <td>{{ brickset.official_price|floatformat:2|intcomma|price_no_data }}</td>
            </tr>
            {% endif %}
            {% if brickset.theme_title %}
            <tr>
                <td>Theme</td>
                <td>{{ brickset.theme_title }}</td>
            </tr>
            {% endif %}
            {% if brickset.ages %}
            <tr>
                <td>Ages</td>
                <td>{{ brickset.ages }}</td>
            </tr>
            {% endif %}
            {% if brickset.pieces %}
            <tr>
                <td>Pieces</td>
                <td>{{ brickset.pieces }}</td>
            </tr>
            {% endif %}
            {% if brickset.official_rating %}
            <tr>
                <td>Rating</td>
                <td><strong>{{ brickset.official_rating }}</strong> / 5.0</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>