<div class="row">
    <div class="sixteen wide column">
        <table class="ui basic compact single line table">
            <thead><tr><th>{{ product.title }} matches in eBay</th><th>Price</th><th>Package</th><th>Available</th></tr></thead>
            <tbody>
                {% for ebay_item in product.ebay_item_set.all %}
                <tr {% if ebay_item.used %}class="warning"{% endif %}>
                    <td><a href="{{ ebay_item.link }}">{{ ebay_item.title }}</a></td>
                    <td class="right aligned">{{ ebay_item.price }}</td>
                    <td class="center aligned">{% if ebay_item.used %}<strong>Used</strong>{% else %}<strong>New</strong>{% endif %}</td>
                    <td class="center aligned">{{ ebay_item.available_text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>