{% load humanize %}
{% load price_tags %}

<div class="ui card">
    <div class="image">
        <img src="{{ product.official_image_url }}">
    </div>
    <div class="content">
        <table class="ui definition table">
            <tbody>
            {% if product.official_price %}
            <tr>
                <td>Official</td>
                <td>{{ product.official_price|floatformat:2|intcomma|price_no_data }}</td>
            </tr>
            {% endif %}
            {% if product.theme_title %}
            <tr>
                <td>Theme</td>
                <td>{{ product.theme_title }}</td>
            </tr>
            {% endif %}
            {% if product.ages %}
            <tr>
                <td>Ages</td>
                <td>{{ product.ages }}</td>
            </tr>
            {% endif %}
            {% if product.pieces %}
            <tr>
                <td>Pieces</td>
                <td>{{ product.pieces }}</td>
            </tr>
            {% endif %}
            {% if product.official_rating %}
            <tr>
                <td>Rating</td>
                <td><strong>{{ product.official_rating }}</strong> / 5.0</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>