{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load price_tags %}
{% load chart_tags %}

{% block javascript %}
<link href="{% static 'c3/c3.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'd3/d3.js' %}"></script>
<script src="{% static 'c3/c3.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}

{% block javascript_code %}
showLineChartC3('#chart-new', [
    {% autoescape off %}
    {% generate_c3_array product.bricklink_record_set.all field='created' label='date' is_date=True %},
    {% generate_c3_array product.bricklink_record_set.all field='new_average_price' label='New Average' %},
    {% generate_c3_array product.bricklink_record_set.all field='new_max_price' label='New Maximum' %},
    {% generate_c3_array product.bricklink_record_set.all field='new_min_price' label='New Minimum' %},
    {% endautoescape %}
], 920);
showLineChartC3('#chart-used', [
    {% autoescape off %}
    {% generate_c3_array product.bricklink_record_set.all field='created' label='date' is_date=True %},
    {% generate_c3_array product.bricklink_record_set.all field='used_average_price' label='Used Average' %},
    {% generate_c3_array product.bricklink_record_set.all field='used_max_price' label='Used Maximum' %},
    {% generate_c3_array product.bricklink_record_set.all field='used_min_price' label='Used Minimum' %},
    {% endautoescape %}
], 920);
showLineChartC3('#chart-ebay-new', [
    {% autoescape off %}
    {% generate_c3_array product.ebay_record_set.all field='created' label='date' is_date=True %},
    {% generate_c3_array product.ebay_record_set.all field='new_average_price' label='New Average' %},
    {% generate_c3_array product.ebay_record_set.all field='new_max_price' label='New Maximum' %},
    {% generate_c3_array product.ebay_record_set.all field='new_min_price' label='New Minimum' %},
    {% endautoescape %}
], 920);
showLineChartC3('#chart-ebay-used', [
    {% autoescape off %}
    {% generate_c3_array product.ebay_record_set.all field='created' label='date' is_date=True %},
    {% generate_c3_array product.ebay_record_set.all field='used_average_price' label='Used Average' %},
    {% generate_c3_array product.ebay_record_set.all field='used_max_price' label='Used Maximum' %},
    {% generate_c3_array product.ebay_record_set.all field='used_min_price' label='Used Minimum' %},
    {% endautoescape %}
], 920);
{% endblock %}

{% block content %}
<div class="ui breadcrumb">
    <a href="{% url 'products:list' %}" class="section">Products</a>
    <div class="divider"> / </div>
    {% if product.theme_title %}
        <a href="{% url 'products:list_by_theme' product.theme_title %}" class="section">{{ product.theme_title }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="active section">{{ product.product_code }}</div>
</div>
<h1 class="ui header">{{ product.title }}
    <div class="sub header">{{ product.product_code }}</div>
</h1>
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            {% include "snippets/product_card.html" with product=product %}
        </div>
        <div class="eleven wide column grid">
            <div class="column">
                <div class="ui four column grid">
                    <div class="column">
                        <h3 class="ui header">Bricklink<div class="sub header">New</div></h3>
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Avg</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_bricklink_record.new_average_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Max</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_bricklink_record.new_max_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Min</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_bricklink_record.new_min_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <h3 class="ui header">Bricklink<div class="sub header">Used</div></h3>
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Avg</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_bricklink_record.used_average_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Max</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_bricklink_record.used_max_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Min</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_bricklink_record.used_min_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <h3 class="ui header">eBay<div class="sub header">New</div></h3>
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Avg</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_ebay_record.new_average_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Max</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_ebay_record.new_max_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Min</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_ebay_record.new_min_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <h3 class="ui header">eBay<div class="sub header">Used</div></h3>
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Avg</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_ebay_record.used_average_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Max</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_ebay_record.used_max_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Min</div>
                                </td>
                                <td class="ten wide right aligned">{{ product.last_ebay_record.used_min_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>

            {% if product.marketing_text %}
            <div class="description">
                {{ product.marketing_text }}
            </div>
            <div class="ui hidden divider"></div>
            {% endif %}

            {% if product.official_review_count %}
            This brick has <strong>{{ product.official_review_count }} review{{ product.official_review_count|pluralize }}</strong></strong> in official web site. <a href="{{ product.official_url }}/#product-reviews">Go check it</a>
            <div class="ui hidden divider"></div>
            {% endif %}

            {% if have_item %}
                <a class="ui grey small button" href="{% url 'items:detail' have_item.id %}"><i class="icon inbox"></i>View My Brick</a>
            {% else %}
                <a class="ui blue small button" href="{% url 'items:add' %}?product={{ product.product_code }}"><i class="icon inbox"></i>Add To My Brick</a>
                {% if have_bookmark %}
                <button class="ui grey small button disabled"><i class="icon shopping bag"></i>Bookmarked</button>
                {% else %}
                <a class="ui grey small button" href="{% url 'bookmarks:update' %}?product_id={{ product.id }}"><i class="icon shopping bag"></i>Bookmark</a>
                {% endif %}
            {% endif %}
            <a class="ui small yellow button" href="{{ product.official_url }}"><i class="icon world"></i>Official</a>
            <a class="ui small button" href="{{ product.bricklink_url }}"><i class="icon world"></i>Bricklink</a>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="row">
        <div class="sixteen wide column">
            <h4 class="ui header">
                <div class="ui black label">New</div> Bricklink
                <div class="sub header"></div>
            </h4>
            <div id="chart-new"></div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <h4 class="ui header">
                <div class="ui olive label">Used</div> Bricklink
                <div class="sub header"></div>
            </h4>
            <div id="chart-used"></div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
                <h4 class="ui header">
                <div class="ui black label">New</div> eBay
                <div class="sub header"></div>
            </h4>
            <div id="chart-ebay-new"></div>
        </div>
    </div>
    <div>
        <div class="sixteen wide column">
            <h4 class="ui header">
                <div class="ui olive label">Used</div> eBay
                <div class="sub header"></div>
            </h4>
            <div id="chart-ebay-used"></div>
        </div>
    </div>
    {% if product.ebay_item_set %}
        <div class="ui divider"></div>
        {% include "snippets/ebay_items.html" with product=product %}
    {% endif %}
</div>

{% endblock %}