{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
{% if theme_title %}
<h1 class="ui header">{{ theme_title }}</h1>
<p><strong>{{ paginator.count }}</strong> bricks</p>
{% else %}
<h1 class="ui header">All Registered Bricks in TrackMyBrick</h1>
<p>There are <strong>{{ paginator.count }}</strong> bricks registered in TrackMyBrick.</p>
{% endif %}
<a class="ui green button" href="{% url 'products:search' %}">Add My Brick</a>
<button class="ui gray button">Register Missing Bricks in TrackMyBrick</button>
<div class="ui divider hidden"></div>
<div class="ui grid">
    <div class="twelve wide column">
        <table class="ui very basic compact table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name </th>
                <th>Theme</th>
                <th>Price ($)</th>
                <th>Ages </th>
                <th>Rating </th>
            </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td >{{ product.product_code }}</td>
                    <td><a href="{% url 'products:detail' product.id %}">{{ product.title }}</a></td>
                    <td>{{ product.theme_title }} </td>
                    <td>{{ product.official_price|floatformat:2|intcomma|price_no_data }}</td>
                    <td>{{ product.ages }}</td>
                    <td>{{ product.official_rating }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    {% include 'snippets/pagination.html' %}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        <div class="header">
                            {% if not theme_title %}<div class="ui green label"></div>{% endif %}
                            <a href="{% url 'products:list' %}">All Bricks</a>
                        </div>
                    </div>
                </div>
                {% for theme in theme_titles %}
                {% if theme %}
                    <div class="item">
                        <div class="content">
                            {% if theme == theme_title %}<div class="ui green label"></div>{% endif %}
                            <a href="{% url 'products:list_by_theme' theme %}">{{ theme }}</a>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}