{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load price_tags %}
{% load chart_tags %}

{% block javascript %}
<link href="{% static 'c3/c3.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'd3/d3.js' %}"></script>
<script src="{% static 'c3/c3.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}

{% block javascript_code %}
showLineChartC3('#chart-profit', [
    {% autoescape off %}
    {% generate_c3_array item.record_set.all field='created' label='date' is_date=True %},
    {% generate_c3_array item.record_set.all field='estimated_profit' label='Gain & Lose' %},
    {% endautoescape %}
], 920)
{% endblock %}

{% block content %}

<div class="ui breadcrumb">
    <a href="{% url 'items:list' %}" class="section">My Bricks</a>
    <div class="divider"> / </div>
    {% if item.product.theme_title %}
        <a href="{% url 'items:list_by_theme' item.product.theme_title %}" class="section">{{ item.product.theme_title }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="active section">{{ item.product.product_code }}</div>
</div>
<h1 class="ui header">{{ item.product.title }}
    <div class="sub header">{{ item.product.product_code }}</div>
</h1>
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            {% include "snippets/product_card.html" with product=item.product %}
        </div>
        <div class="eleven wide column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Official</div>
                                </td>
                                <td class="ten wide right aligned">{{ item.product.official_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Spent</div>
                                </td>
                                <td class="ten wide right aligned">{{ item.total_buying_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Target</div>
                                </td>
                                <td class="ten wide right aligned">{{ item.target_price|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            {% if item.sold_quantity %}
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Sold Quantity</div>
                                </td>
                                <td class="ten wide right aligned">{{ item.sold_quantity }}</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Quantity</div>
                                </td>
                                <td class="ten wide right aligned">
                                    {{ item.quantity }}
                                </td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui label blue">Estimated</div>
                                </td>
                                <td class="ten wide right aligned">{{ item.total_estimated|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            <tr>
                                <td class="six wide">
                                    <div class="ui green label">Gain & Lose</div>
                                </td>
                                <td class="ten wide right aligned">{{ item.estimated_profit|floatformat:2|intcomma|price_no_data }}</td>
                            </tr>
                            {% if item.sold_quantity %}
                            <tr>
                                <td class="six wide">
                                    <div class="ui label">Earnings</div>
                                </td>
                                <td class="ten wide right aligned">
                                    {{ item.total_sold_price|floatformat:2|intcomma|price_no_data }}
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui divider"></div>
                {% if item.quantity == 1 %}
                    <p>
                        You have <span class="ui circular label">1</span>
                        <strong>{{ item.thing_set.first.opened_text }}</strong> thing of this brick.
                    </p>
                {% else %}
                    <p>
                        You have <strong>{{ item.quantity }}</strong> thing{{ item.quantity|pluralize }} of this brick.
                        {% if item.sold_quantity %}
                        You sold <strong>{{ item.sold_quantity }}</strong> thing{{ item.sold_quantity|pluralize }} of this brick.
                        {% endif %}
                    </p>
                    <div class="ui list">
                    {% for thing in item.thing_set.all %}
                        <div class="item">
                            <span class="ui basic label"><i class="cube icon"></i>{{ forloop.counter }}</span>
                            {% if thing.sold %}
                            <span class="ui basic label"><i class="money icon"></i>Sold</span>
                            {% endif %}
                            <span class="ui basic label"><i class="toggle {% if thing.opened %}on{% else %}off{% endif %} icon"></i>{{ thing.opened_text|capfirst }}</span>
                            <span class="ui basic label">Spent {{ thing.buying_price|floatformat:2|intcomma|price_no_data }}</span>
                            {% if thing.note %}<span class="ui basic label">{{ thing.note }}</span>{% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                How we estimated price: <strong>3 unopend</strong> things x latest bricklink price for new product <strong>($12.5), 37.5</strong>. Plus <strong>2 opened</strong> things x latest bricklink price for used product <strong>($10.0), 20.0.</strong>
                <br/>
                Total estimated price: $37.5 + $20.0 = $57.50
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui basic">
                <a href="{% url 'products:detail' item.product.id %}" class="ui grey small button">View Set</a>
                <a href="{% url 'items:sold' item.id %}" class="ui small button gray"><i class="icon dollar"></i>Sold Brick</a>
                <a href="{% url 'items:edit' item.id %}" class="ui small button"><i class="icon edit"></i>Edit Brick</a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="row">
        <div class="sixteen wide column">
            <h4 class="ui header">
                Gain & Lose
                <div class="sub header"></div>
            </h4>
            <div id="chart-profit"></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="row">
         <div class="four wide column">
            <h3 class="ui header">
                <div class="ui black label">New</div> Bricklink
                <div class="sub header"></div>
            </h3>

            <table class="ui very basic table">
                <tbody>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Avg</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_bricklink_record.new_average_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Max</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_bricklink_record.new_max_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Min</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_bricklink_record.new_min_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column">
            <h3 class="ui header">
                <div class="ui olive label">Used</div> Bricklink
                <div class="sub header"></div>
            </h3>

            <table class="ui very basic table">
                <tbody>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Avg</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_bricklink_record.used_average_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Max</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_bricklink_record.used_max_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Min</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_bricklink_record.used_min_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                </tbody>
            </table>
        </div>
         <div class="four wide column">
            <h3 class="ui header">
                <div class="ui black label">New</div> eBay
                <div class="sub header"></div>
            </h3>

            <table class="ui very basic table">
                <tbody>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Avg</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_ebay_record.new_average_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Max</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_ebay_record.new_max_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Min</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_ebay_record.new_min_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column">
            <h3 class="ui header">
            <div class="ui olive label">Used</div> eBay
            <div class="sub header"></div>
            </h3>

            <table class="ui very basic table">
                <tbody>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Avg</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_ebay_record.used_average_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Max</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_ebay_record.used_max_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                <tr>
                    <td class="six wide">
                        <div class="ui label">Min</div>
                    </td>
                    <td class="ten wide right aligned">{{ item.product.last_ebay_record.used_min_price|floatformat:2|intcomma|price_no_data }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if item.product.ebay_item_set.count > 0 %}
        <div class="ui divider"></div>
        {% include "snippets/ebay_items.html" with product=item.product %}
    {% endif %}
</div>
{% endblock %}