{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load semanticui %}
{% load widget_tweaks %}
{% load form_tags %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">
    Sold My Brick
    <div class="sub header">{{ item.product.title }}, {{ item.product.product_code }}</div>
</h1>
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            {% include "snippets/product_card.html" with product=item.product %}
        </div>
        <div class="eleven wide column grid">
            <form method="post" class="ui form segment">
                {% csrf_token %}
                {{ things.management_form }}
                {% for thing_form in things.forms %}
                    {{ thing_form.non_field_errors }}
                    <div class="fields formset_fields">
                        <div class="two wide field">
                            <label>Sold</label>
                            <div class="ui toggle checkbox segment" style="margin-top: 0px; padding: 7px 5px; width: 100%">
                                {% render_field thing_form.sold class+="opened" %}
                                <label><strong></strong></label>
                            </div>
                        </div>
                        <div class="three wide field {% if thing_form.sold_price.errors %}error{% endif %}">
                            {{ thing_form.sold_price.label_tag }}
                            {% for hidden in thing_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ thing_form.sold_price }}
                        </div>
                        <div class="four wide field {% if thing_form.sold_at.errors %}error{% endif %}">
                            {{ thing_form.sold_at.label_tag }}
                            {{ thing_form.sold_at|html_placeholder:"MM/DD/YYYY" }}
                        </div>
                        <div class="eight wide field">
                            <label>&nbsp</label>
                            <div style="margin-top: 9px">
                                {% if thing_form.instance.buying_price %}
                                <span class="ui basic label">
                                {{ thing_form.instance.buying_price|floatformat:2|intcomma|price_no_data }}
                                </span>
                                {% endif %}

                                <span class="ui basic label {% if thing_form.instance.opened %}grey{% endif %}">{{ thing_form.instance.opened_text|capfirst }}</span>
                                {% if thing_form.instance.note %}
                                <span class="ui basic label">{{ thing_form.instance.note }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="ui divider"></div>
                <button type="submit" class="ui blue button">Save</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="ui button">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}