{% extends "base.html" %}
{% load static %}
{% load semanticui %}
{% load widget_tweaks %}

{% block content %}
<h1 class="ui header">
    Add My Brick
    <div class="sub header">{{ product.title }}, {{ product.product_code }}</div>
</h1>
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            {% include "snippets/product_card.html" with product=product %}
        </div>
        <div class="eleven wide column grid">
            <form method="post" class="ui form segment">
                {% csrf_token %}
                {{ things.management_form }}
                {% for thing_form in things.forms %}
                    {{ thing_form.non_field_errors }}
                    <div class="fields formset_fields">
                        <div class="six wide field {% if thing_form.buying_price.errors %}error{% endif %}">
                            {{ thing_form.buying_price.label_tag }}
                            {% for hidden in thing_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ thing_form.buying_price }}
                        </div>
                        <div class="five wide field">
                            <label>Opened</label>
                            <div class="ui toggle checkbox segment" style="margin-top: 0px; padding: 7px 14px; width: 100%">
                                {% render_field thing_form.opened class+="opened" %}
                                <label><strong>{% if thing_form.opened.value %}Opened{% else %}Unopened{% endif %}</strong></label>
                            </div>
                        </div>
                        <div class="five wide field">
                            <label>Note</label>
                            {{ thing_form.note }}
                        </div>
                    </div>
                {% endfor %}
                <div class="ui divider"></div>
                <div class="field {% if form.target_price.errors %}error{% endif %}">
                    {{ form.target_price.label_tag }}
                    {{ form.target_price }}
                </div>
                <button type="submit" class="ui blue button">Save Item</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="ui button">Cancel</a>
             </form>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('input.opened').change(function() {
        if ($(this).is(":checked")) {
            $(this).next('label').children('strong').text('Opened');
        } else {
            $(this).next('label').children('strong').text('Unopened');
        }
    });

    $('.formset_fields').formset({
        addText: 'Add Thing',
        addCssClass: 'add-row ui secondary basic button',
        deleteText: 'Remove',
        deleteCssClass: 'delete-row ui button',
        prefix: 'thing_set',
        askWhenDelete: {% if item %}true{% else %}false{% endif %},
        hideDeleteForFirst: {% if item %}false{% else %}true{% endif %},
        clearFieldWhenAdd: false,
        afterRemoved: function(formCount) {
            if (formCount == 0) {
                $('button[type=submit]').removeClass('blue').addClass('red').text('Delete Item');
            }
        },
        afterAdded: function(formCount) {
            if (formCount > 0) {
                $('button[type=submit]').removeClass('red').addClass('blue').text('Save Item');
            }
        }
    });
</script>
{% endblock %}