{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load semanticui %}
{% load widget_tweaks %}
{% load form_tags %}
{% load price_tags %}

{% block content %}
<div class="ui breadcrumb">
    <a href="{% url 'items:list' %}" class="section">My Bricks</a>
    <div class="divider"> / </div>
    {% if item.product.theme_title %}
        <a href="{% url 'items:list_by_theme' item.product.theme_title %}" class="section">{{ item.product.theme_title }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="active section">{{ item.product.brick_code }}</div>
</div>
<h1 class="ui header">
    Sold My Brick
    <div class="sub header">{{ item.product.title }}, {{ item.product.brick_code }}</div>
</h1>
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            {% include "snippets/product_card.html" with product=item.product %}
        </div>
        <div class="eleven wide column grid">
            <form method="post" class="ui form segment">
                <h3 class="ui header">My Things</h3>
                {% csrf_token %}
                {{ things.management_form }}
                {% for thing_form in things.forms %}
                    {{ thing_form.non_field_errors }}
                    {% ifchanged thing_form.instance.sold %}
                        {% if not forloop.first %}
                            <div class="ui divider"></div>
                            <h3 class="ui header">Sold Things</h3>
                        {% endif %}
                    {% endifchanged %}
                    <div class="fields formset_fields">
                        <div class="two wide field">
                            <label>Sold</label>
                            <div class="ui toggle checkbox segment" style="margin-top: 0px; padding: 7px 5px; width: 100%">
                                {% render_field thing_form.sold class+="sold" %}
                                <label><strong></strong></label>
                            </div>
                        </div>
                        <div class="three wide field {% if thing_form.sold_price.errors %}error{% endif %}">
                            <label>Earning</label>
                            {% for hidden in thing_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ thing_form.sold_price }}
                        </div>
                        <div class="four wide field {% if thing_form.sold_at.errors %}error{% endif %}">
                            {{ thing_form.sold_at.label_tag }}
                            {{ thing_form.sold_at|html_placeholder:"MM/DD/YYYY" }}
                        </div>
                        <div class="eight wide field">
                            <label>&nbsp</label>
                            <div style="margin-top: 9px">
                                {% if thing_form.instance.buying_price %}
                                <span class="ui basic label"><i class="toggle {% if thing_form.instance.opened %}on{% else %}off{% endif %} icon"></i>{{ thing_form.instance.opened_text|capfirst }}</span>
                                <span class="ui basic label">
                                Spent {{ thing_form.instance.buying_price|floatformat:2|intcomma|price_no_data }}
                                </span>
                                {% endif %}
                                {% if thing_form.instance.note %}
                                <span class="ui basic label">{{ thing_form.instance.note }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="ui divider"></div>
                <button type="submit" class="ui blue button">Save</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="ui button">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('input.sold').change(function() {
        if ($(this).is(":checked")) {
            var soldAt = $(this).parent().parent().next().next().children('input');
            if (!soldAt.val()) {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1;
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd
                }

                if(mm < 10) {
                    mm = '0' + mm
                }

                today = mm + '/' + dd + '/' + yyyy;
                soldAt.val(today);
                soldAt.attr('placeholder', '');
            }
        }
    });
</script>
{% endblock %}