{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">My Bricks</h1>
<button class="ui green button">Add My Brick</button>
<table class="ui very basic compact table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name </th>
        <th>Quantity</th>
        <th>Buying</th>
        <th>Profit</th>
        <th>Theme</th>
    </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td >{{ item.product.product_code }}</td>
            <td><a href="{% url 'items:detail' item.id %}">{{ item.product.title }}</a></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.buying_average_price|floatformat:2|intcomma|price_no_data:"" }}</td>
            <td>{{ item.estimated_profit|floatformat:2|intcomma|price_no_data:"" }}</td>
            <td>{{ item.product.theme_title }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}