{% extends "base.html" %}
{% load static %}
{% load semanticui %}
{% load widget_tweaks %}

{% block content %}
{% if item %}
<div class="ui breadcrumb">
    <a href="{% url 'mybricks:list' %}" class="section">My Bricks</a>
    <div class="divider"> / </div>
    {% if item.brickset.theme_title %}
        <a href="{% url 'mybricks:list_by_theme' item.brickset.theme_title %}" class="section">{{ item.brickset.theme_title }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="active section">{{ item.brickset.brick_code }}</div>
</div>
{% else %}
<div class="ui breadcrumb">
    <a href="{% url 'sets:list' %}" class="section">Sets</a>
    <div class="divider"> / </div>
    {% if brickset.theme_title %}
        <a href="{% url 'sets:list_by_theme' brickset.theme_title %}" class="section">{{ brickset.theme_title }}</a>
        <div class="divider"> / </div>
    {% endif %}
    <div class="active section">{{ brickset.brick_code }}</div>
</div>
{% endif %}
<h1 class="ui header">
    {% if item %}
        Edit My Brick
    {% else %}
        Add My Brick
    {% endif %}
    <div class="sub header">{{ brickset.title }}, {{ brickset.brick_code }}</div>
</h1>
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            {% include "snippets/product_card.html" with brickset=brickset %}
        </div>
        <div class="eleven wide column grid">
            <form method="post" class="ui form segment">
                {% csrf_token %}
                {{ things.management_form }}
                {% for thing_form in things.forms %}
                    {{ thing_form.non_field_errors }}
                    <div class="fields formset_fields">
                        <div class="six wide field {% if thing_form.buying_price.errors %}error{% endif %}">
                            <label>Spent</label>
                            {% for hidden in thing_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ thing_form.buying_price }}
                        </div>
                        <div class="five wide field">
                            <label>Opened</label>
                            <div class="ui toggle checkbox segment" style="margin-top: 0px; padding: 7px 14px; width: 100%">
                                {% render_field thing_form.opened class+="opened" %}
                                <label><strong>{% if thing_form.opened.value %}Opened{% else %}Unopened{% endif %}</strong></label>
                            </div>
                        </div>
                        <div class="five wide field">
                            <label>Note</label>
                            {{ thing_form.note }}
                        </div>
                    </div>
                {% endfor %}
                <div class="ui divider"></div>
                <div class="field {% if form.target_price.errors %}error{% endif %}">
                    {{ form.target_price.label_tag }}
                    {{ form.target_price }}
                </div>
                <button type="submit" class="ui blue button">Save My Brick</button>
                <a href="{% if item %}{% url 'mybricks:detail' item.id %}{% else %}{% url 'sets:detail' brickset.id %}{% endif %}" class="ui button">Cancel</a>
             </form>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('input.opened').change(function() {
        if ($(this).is(":checked")) {
            $(this).next('label').children('strong').text('Opened');
        } else {
            $(this).next('label').children('strong').text('Unopened');
        }
    });

    $('.formset_fields').formset({
        addText: 'Add Thing',
        addCssClass: 'add-row ui secondary basic button',
        deleteText: 'Remove',
        deleteCssClass: 'delete-row ui button',
        prefix: 'thing_set',
        askWhenDelete: {% if item %}true{% else %}false{% endif %},
        hideDeleteForFirst: {% if item %}false{% else %}true{% endif %},
        clearFieldWhenAdd: false,
        afterRemoved: function(formCount) {
            if (formCount == 0) {
                $('button[type=submit]').removeClass('blue').addClass('red').text('Delete Item');
            }
        },
        afterAdded: function(formCount) {
            if (formCount > 0) {
                $('button[type=submit]').removeClass('red').addClass('blue').text('Save Item');
            }
        }
    });
</script>
{% endblock %}