{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">My Bricks</h1>
<a class="ui green button small" href="{% url 'sets:search' %}">Add My Brick</a>
<div class="ui divider hidden"></div>
<div class="ui grid">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui label">
                Official<div class="detail">{{ official_price|floatformat:2|intcomma|price_no_data:"" }}</div>
            </div>
            <div class="ui label">
                Spent<div class="detail">{{ buying_price|floatformat:2|intcomma|price_no_data:"" }}</div>
            </div>
            <div class="ui label">
                Current Esimated<div class="detail">{{ estimated_price|floatformat:2|intcomma|price_no_data:"" }}</div>
            </div>
            <div class="ui label blue">
                Gain & Lose<div class="detail">{{ profit|floatformat:2|intcomma|price_no_data:"" }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve wide column">
            <table class="ui very basic compact table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title </th>
                    <th>Theme</th>
                    <th>Quantity</th>
                    <th>Spent</th>
                    <th>Gain & Lose</th>
                </tr>
                </thead>
                <tbody>
                    {% for mybrick in mybricks %}
                    <tr>
                        <td >{{ mybrick.brickset.brick_code }}</td>
                        <td><a href="{% url 'mybricks:detail' mybrick.brickset.brick_code %}">{{ mybrick.brickset.title }}</a></td>
                        <td>{{ mybrick.brickset.theme_title }}</td>
                        <td>{{ mybrick.quantity }}</td>
                        <td>{{ mybrick.buying_average_price|floatformat:2|intcomma|price_no_data:"" }}</td>
                        <td>{{ mybrick.estimated_profit|floatformat:2|intcomma|price_no_data:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="four wide column">
            <div class="ui segment">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                {% if not theme_title %}<div class="ui green label"></div>{% endif %}
                                <a href="{% url 'mybricks:list' %}">All My Bricks</a>
                            </div>
                            <div class="content">
                            </div>
                        </div>
                    </div>
                    {% for theme in user.profile.theme_titles %}
                        {% if theme %}
                            <div class="item">
                                <div class="content">
                                    {% if theme == theme_title %}<div class="ui green label"></div>{% endif %}
                                    <a href="{% url 'mybricks:list_by_theme' theme %}">{{ theme }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}