{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">Search Sets</h1>
<form class="ui form">
    <div class="fields">
        <div class="eight wide field">
            <input id="search-field" type="text" name="search" placeholder="Please type the set number or the title (ex: 60110 or Fire Station).">
        </div>
        <div class="eight wide field">
            <button class="ui button" type="submit">Search</button>
            <a href="{% url 'sets:add' %}" class="ui gray button">Register Missing Sets on TrackMyBrick</a>
        </div>
    </div>

</form>
<table class="ui very basic compact table">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Theme</th>
        <th>Price</th>
        <th>Ages </th>
    </tr>
    </thead>
    <tbody>
        {% for brickset in bricksets %}
        <tr>
            <td >{{ brickset.brick_code }}</td>
            <td><a href="{% url 'sets:detail' brickset.id %}">{{ brickset.title }}</a></td>
            <td>{{ brickset.theme_title }}</td>
            <td>{{ brickset.official_price|floatformat:2|intcomma|price_no_data }}</td>
            <td>{{ brickset.ages }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">
            {% include 'snippets/pagination.html' %}
        </th>
    </tr>
    </tfoot>
</table>
{% endblock %}