{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">Bookmarks</h1>
<table class="ui very basic compact table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name </th>
        <th>Theme</th>
        <th>Price ($)</th>
        <th>Ages </th>
        <th>Rating </th>
    </tr>
    </thead>
    <tbody>
        {% for bookmark in bookmarks %}
        <tr>
            <td >{{ bookmark.product.product_code }}</td>
            <td><a href="{% url 'products:detail' bookmark.product.id %}">{{ bookmark.product.title }}</a></td>
            <td>{{ bookmark.product.theme_title }} </td>
            <td>{{ bookmark.product.official_price|floatformat:2|intcomma|price_no_data }}</td>
            <td>{{ bookmark.product.ages }}</td>
            <td>{{ bookmark.product.official_rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}