{% extends "base.html" %}
{% load humanize %}
{% load price_tags %}

{% block content %}
<h1 class="ui header">Bookmarks</h1>
<table class="ui very basic compact table">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Theme</th>
        <th>Price</th>
        <th>Ages </th>
        <th>Rating </th>
    </tr>
    </thead>
    <tbody>
        {% for bookmark in bookmarks %}
        <tr>
            <td >{{ bookmark.brickset.brick_code }}</td>
            <td><a href="{% url 'sets:detail' bookmark.brickset.id %}">{{ bookmark.brickset.title }}</a></td>
            <td>{{ bookmark.brickset.theme_title }} </td>
            <td>{{ bookmark.brickset.official_price|floatformat:2|intcomma|price_no_data:"" }}</td>
            <td>{{ bookmark.brickset.ages }}</td>
            <td>{% if bookmark.brickset.official_rating %}{{ bookmark.brickset.official_rating }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}