{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h1 class="ui header">Settings</h1>
<div class="ui grid">
    <div class="row">
        <div class="four wide column">
            <div class="ui vertical menu">
                <a href="{% url 'users:settings' %}" class="active item">
                    <h4 class="ui header">{{ user.username }}</h4>
                </a>
                <a class="item">
                    Subscription
                </a>
                <a href="{% url 'auth_password_change' %}" class="item">
                    Change Password
                </a>
                <a class="item">
                    Export Data
                </a>
                <a href="{% url 'users:logout' %}" class="item">
                    Logout
                </a>
            </div>
        </div>
        <div class="twelve wide column">
            <strong>Created:</strong> {{ user.date_joined|naturaltime|capfirst }}
            <br/>
            <strong>Current Plan:</strong> Pro
        </div>
    </div>
</div>
{% endblock %}